<!DOCTYPE html>
<html>
  <head>
    <title>Actors and Movies</title>
  </head>

  <body>
    <h1>Pick which you want to see!</h1>

    <ul>
      <li><a href="/actors">Actors</a></li>
      <li><a href="/movies">Movies</a></li>
    </ul>

  </body>
</html>
